@use "sass:map";
@import "style/pages/theme";

.footer {
  background: #f3f6fa;
  padding-top: 70px;
  padding-bottom: 0;
  .footer_about {
    margin-bottom: 30px;
    .footer_about_logo {
      margin-bottom: 15px;
      display: inline-block;
    }
    ul li {
      font-size: 16px;
      color: map.get($theme-colors, "normal-text");
      line-height: 36px;
      list-style: none;
    }
  }
}

.footer_widget {
  float: left;
  width: 50%;
  li {
    list-style: none;
    a {
      color: map.get($theme-colors, "normal-text");
      font-size: 14px;
      line-height: 32px;
      text-decoration: none;
    }
  }
  p {
    font-size: 14px;
    color: map.get($theme-colors, "normal-text");
    margin-bottom: 30px;
  }
}

.footer_news_latter {
  .input-group {
    display: flex;
    align-items: center;

    input {
      width: 100%;
      font-size: 16px;
      padding-left: 20px;
      color: map.get($theme-colors, "normal-text");
      height: 46px;
      border: 1px solid #ededed;

      ::placeholder {
        color: map.get($theme-colors, "normal-text");
      }
    }

    button {
      padding: 0 26px;
      height: 46px;
    }
  }
  .footer_news_latter_social {
    display: flex;
    align-items: center;
    column-gap: 10px;
    div {
      &:hover {
        background: map.get($theme-colors, "main");
        color: #ffffff;
        border-color: #ffffff;
      }

      svg {
        font-size: 20px;
        padding: 10px;
        color: #404040;
        border: 1px solid #ededed;
        border-radius: 50%;
        transition: all 0.3s ease-in;
      }

      height: 46px;
      min-width: max-content;
    }
  }
}
    .button-submit {
      font-size: 14px;
      color: #ffffff;
      font-weight: 800;
      text-transform: uppercase;
      display: inline-block;
      padding: 16px 30px 17px;
      background: map.get($theme-colors, "main");
      border: none;
      height: 100%;
    }