@import '_theme.scss';

html,
body {
    margin: 0;
}

* {
    font-family: Roboto;
    padding:0;
    margin:0;
}
.container {
    max-width: 1170px;
    width: 100%;
    padding-left: 150px;
    padding-right: 15px;
 //   background: map-get($theme-colors,"main");
   margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}
.col-6 {
    flex: 0 0 50%;
    max-width: 50%;
}