@import "_theme.scss";
@import "_responsive.scss";

html,
body {
  margin: 0;
}

* {
  font-family: Roboto;
  padding: 0;
  margin: 0;
}
.container {
  max-width: 1170px;
  width: 100%;
  padding-left: 150px;
  padding-right: 15px;
  //   background: map-get($theme-colors,"main");
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: nowrap; // hoặc wrap nếu muốn xuống dòng khi nhỏ màn hình
  align-items: center;
  justify-content: space-between; // hoặc center tùy bạn
}

.col-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.col-xl-3 {
  flex: 0 0 25%;
  max-width: 25%;
}

.col-lg-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.col-lg-3 {
  flex: 0 0 25%;
  max-width: 25%;
}
@include Responsive($DESKTOP) {
  .col-xl-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-xl-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@include Responsive($TABLET_DEVICE) {
  .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-md-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@include Responsive($MEDIUM_DEVICE) {
  .col-lg-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
}

@include Responsive($WIDE_MOBILE) {
  .col-sm-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-sm-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@include Responsive($SMALL_DEVICES) {
  .col-xs-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
