@import '_theme.scss';
@import '_responsive.scss';

html,
body {
    margin: 0;
}

* {
    font-family: Roboto;
    padding:0;
    margin:0;
}
.container {
    max-width: 1170px;
    width: 100%;
    padding-left: 150px;
    padding-right: 15px;
 //   background: map-get($theme-colors,"main");
   margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}
.col-6 {
    flex: 0 0 50%;
    max-width: 50%;
}

.col-xl-3 {
  flex: 0 0 25%;
  max-width: 25%;
    
  @include Responsive($DESKTOP) {
  background: rgb(0, 128, 13);
  }

  @include Responsive($MEDIUM_DEVICE) {
    background: red;
  }

  @include Responsive($SMALL_DEVICES) {
    background: rgb(68, 255, 0);
  }
}