@import "/src/style/pages/theme";
.header_top {
    background: #f5f5f5;
}
.header_top_left{
    ul{
        display: flex;
        align-items: center;
     padding: 10px 0 13px;
        list-style: none;
        column-gap: 20px;
        
        li{
            font-size: 14px;
            color: map-get($theme-colors,"normal-text");
            display: flex;
            align-items: center;
            column-gap: 2px;

            &:first-child{
                position: relative;
                &:after{
                    position:absolute;
                    right:-10px;
                    top: 1px;
                    height: 20px;
                    width: 1px;
                    background: #000000;
                    opacity: 0.6;
                    content: "";
                }
            
            }
        }
    }
}

.header_top_right{
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 10px 0 13px;
    ul {
        display: flex;
        column-gap: 5px;
        list-style-type: none;
        a{
            font-size: 14px;
            display: inline-block;
            color: map-get($theme-colors,"normal-text")
        }
    }
}