@import "/src/style/pages/theme";
.header_top {
  background: #f5f5f5;
}
.header_top_left {
  ul {
    display: flex;
    align-items: center;
    padding: 10px 0 13px;
    list-style: none;
    column-gap: 20px;

    li {
      font-size: 14px;
      color: map-get($theme-colors, "normal-text");
      display: flex;
      align-items: center;
      column-gap: 2px;

      &:first-child {
        position: relative;
        &:after {
          position: absolute;
          right: -10px;
          top: 1px;
          height: 20px;
          width: 1px;
          background: #000000;
          opacity: 0.6;
          content: "";
        }
      }
    }
  }
}

.header_top_right {
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 10px 0 13px;
  ul {
    display: flex;
    column-gap: 5px;
    list-style-type: none;
    a {
      font-size: 14px;
      display: inline-block;
      color: map-get($theme-colors, "normal-text");
    }
  }
}
.header_logo {
  padding: 15px 0;
}

.header_menu {
  padding: 24px 0;

  ul {
    display: flex;
    justify-content: space-between;
    gap: 30px;

    li {
      list-style: none;
      a {
        text-decoration: none;
        font-size: 14px;
        color: map-get($theme-colors, "normal-text");
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 2px;
        transition: all 0.3s;
        padding: 5px 0;
        display: block;
      }
    }
    .active a {
      color: map-get($theme-colors, "main");
    }
  }
}
.header_cart {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px 0;
  .header_cart_price {
    span {
      font-size: 14px;
      margin-left: 2px;
    }
  }

  ul {
    display: flex;
    position: relative;
    margin-right: 25px;

    li {
      list-style: none;
      position: relative;
      margin-left: 20px;

      svg {
        font-size: 25px;
        color: map-get($theme-colors, "normal-text");
      }
      span {
        color: white;
        background: map-get($theme-colors, "main");
        position: absolute;
        height: 20px;
        width: 20px;
        border-radius: 40px;
        display: inline-block;
        text-align: center;
        line-height: 20px;
        font-size: 13px;
        font-weight: 500;
        left: 20px;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }

.hero_categories {
  position: relative;

  .hero_categories_all {
    background: map-get($theme-colors, "main");
    padding: 15px 25px 15px 40px;
    display: flex;
    align-items: center;
    cursor: pointer;
    color: #ffffff;
    font-weight: 700;

    svg,
    span {
      font-size: 16px;
      margin-right: 5px;
    }

    svg {
      font-size: 20px;
      font-weight: bold;
    }
  }
}
}
